.tasks{
    padding-top: 32px;
    border-top: 1px solid rgba(20, 20, 20, 0.12);
}

.tasksLabel{
    text-align: left;
}

.tasksContent{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.task{
    width: 66%;
}

.taskTitle{
    width: 100%;
}

.titleBottomMargin{
    margin-bottom: 32px;
}

.titleWrapper{
    margin: 0 auto;
}

.contextParagraph{
    max-width: 410px;
    width: 100%;
}

.contextText{
    display: flex;
    gap: 118px;
    align-items: center;
}

.context{
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
}

.contextLabel{
    text-align: left;
}







