.menuItem {
	display: flex;
	align-items: center;
	padding: 7px 14px;
	background: rgba(20, 20, 20, 0.08);
	border: none;
	cursor: pointer;
	text-decoration: none;
	transition: all 0.2s ease;
}

.menuItem:hover {
	background: var(--color-bg-blue-default);
}

.menuItem:hover .icon {
	color: var(--color-text-black-inverse);
}

.menuItem:hover :global(*) {
	color: var(--color-text-black-inverse) !important;
}

.menuItem:active {
	opacity: 0.9;
}

.menuItem:focus {
	outline: none;
}

.menuItem:focus-visible {
	outline: 2px solid var(--color-text-accent);
	outline-offset: 2px;
}

.textOnly {
}

.withIcon {
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-text-black);
	transition: color 0.2s ease;
}

