.button {
	display: inline-block;
	position: relative;
	padding: 0;
	border: none;
	border-radius: 0;
	background: transparent;
	cursor: pointer;
	text-decoration: none;
	overflow: visible;
}

.button:active {
	opacity: 0.9;
}

.button:focus {
	outline: none;
}

.button:focus-visible {
	outline: 2px solid var(--color-text-accent);
	outline-offset: 2px;
}

.button.flip {
	opacity: 1;
	outline: 0;
	position: relative;
	text-align: center;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: none;
}

.button.flip:hover::after {
	opacity: 1;
	transform: translateY(0) rotateX(0);
}

.button.flip:hover::before {
	opacity: 0;
	transform: translateY(-50%) rotateX(90deg);
}

.button.flip::after {
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	color: #ffffff;
	display: block;
	transition: 0.4s;
	position: absolute;
	background: #141414;
	content: attr(data-back);
	transform: translateY(50%) rotateX(90deg);
	line-height: 18px;
	padding: 7px 14px;
	border: 1px solid #141414;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}

.button.flip::before {
	top: 0;
	left: 0;
	opacity: 1;
	color: #141414;
	display: block;
	padding: 7px 14px;
	line-height: 18px;
	transition: 0.4s;
	position: relative;
	background: transparent;
	content: attr(data-front);
	transform: translateY(0) rotateX(0);
	border: 1px solid #141414;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}

/* Обычные стили для не-flip кнопок */
.buttonFace1,
.buttonFace2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
	padding: 8px 10px;
	border-radius: 4px;
	border: 1px solid rgb(0, 0, 0);
	transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.buttonFace1 {
	background: rgb(242, 242, 242);
	transform: rotateX(0deg);
	transform-origin: bottom;
}

.buttonFace1 :global(*) {
	color: rgb(29, 28, 26) !important;
}

.button:hover .buttonFace1 {
	transform: rotateX(-90deg);
	transform-origin: bottom;
}

.buttonFace2 {
	background: rgb(29, 28, 26);
	transform: rotateX(90deg);
	transform-origin: top;
}

.button:hover .buttonFace2 {
	transform: rotateX(0deg);
	transform-origin: top;
}

.buttonFace2 :global(*) {
	color: rgb(242, 242, 242) !important;
}

.buttonFaceNone {
	opacity: 0;
	visibility: visible;
	position: static;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	padding: 8px 10px;
}

.primary {
	background: var(--color-bg-blue-default);
	border-color: var(--color-bg-blue-default);
}

.primary :global(*) {
	color: var(--color-text-black-inverse);
}

.primary:hover {
	background: var(--color-bg-black-default);
	border-color: var(--color-bg-black-default);
}

