/* Контейнер страницы */
.infoContainer {
	position: relative;
	width: 100%;
	overflow: hidden;
}

/* Основная секция героя */
.infoHero {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 32px;
	padding: 0 16px 32px 16px;
	border-bottom: var(--color-stroke-black-med) 1px solid;
	margin-top: 200px;
	box-sizing: border-box;
}

/* Обертка текстового контента */
.textWrapper {
	display: flex;
	flex-direction: column;
	max-width: 776px;
	width: 100%;
}

/* Контейнер заголовка и описания */
.headingAndDescription {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

/* Описание (метка "информация") */
.description {
	width: fit-content;
}

/* Контейнер основного заголовка */
.infoHeroHeading {
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 100%;
}

/* Нижний контент (параграф + изображение) */
.bottomContent {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	gap: 32px;
	width: 100%;
}

/* Параграф в секции героя */
.infoHeroParagraph {
	max-width: 410px;
	width: 100%;
}

/* Контейнер изображения */
.infoHeroImage {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-right: 80px;
}

/* Изображение */
.infoHeroImageImg {
	max-width: 400px;
	max-height: 500px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	z-index: 1;
}

/* Фоновый векторный паттерн */
.backgroundVector {
	position: absolute;
	top: 0;
	left: calc(50% - 36px);
	width: 1600px;
	height: 1186px;
	transform: translate(-50%, -46.3%);
	z-index: -1;
	pointer-events: none;
}

/* Секция карьеры */
.career {
	width: 100%;
	padding: 0 16px;
	display: flex;
	flex-direction: row;
	gap: 40px;
	justify-content: space-between;
	margin-top: 200px;
}

/* Описание секции карьеры */
.careerDescription {
	width: fit-content;
}

/* Контент секции карьеры (заголовок + таблица) */
.careerContent {
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 66%;
}

/* Заголовок секции карьеры */
.careerHeading {
	max-width: 380px;
	width: 100%;
}

/* Таблица карьеры */
.careerTable {
	width: 100%;
}

@media (max-width: 1300px) {
	.career {
		flex-direction: column;
		gap: 8px;
	}

	.careerContent {
		width: 100%;
	}
}


@media (max-width: 1024px) {
	.infoHeroImage {
		padding-right: 0;
	}

	.backgroundVector {
		left: 50%;
	}
}

@media (max-width: 900px) {
	.infoHero {
		gap: 120px;
		padding: 0 16px;
		border-bottom: none;
		margin-top: 160px;
	}

	.bottomContent {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		gap: 120px;
	}

	.infoHeroParagraph {
		text-align: center;
	}

	.backgroundVector {
		top: 68%;
		height: 1080px;

	}
}

@media (max-width: 701px) {
	.career {
		margin-top: 160px;
	}
}

@media (max-width: 540px) {
	.infoHeroHeading h1 {
		font-size: 24px;
		line-height: 28px;
	}

	.careerHeading {
		font-size: 24px;
		line-height: 28px;
	}

	.infoHero {
		gap: 40px;
	}

	.bottomContent {
		gap: 40px;
	}

	.infoHeroParagraph {
		max-width: 100%;
	}

	.backgroundVector {
		display: none;
	}
}

@media (max-width: 401px) {
	.career {
		margin-top: 120px;
	}

	.infoHero {
		margin-top: 120px;
	}
}