.infoContainer {
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

.backgroundVector {
	pointer-events: none;
	z-index: -1;
	width: 1600px;
	max-width: 100vw;
	height: 1186px;
	position: absolute;
	overflow: hidden;
	transform: translate(-50%, -50%);
	top: 0;
	left: 50%;
}

.infoHero {
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: end;
	width: 100%;
	max-height: 793px;
    height: 100%;
	padding: 0 16px 32px 16px ;
	border-bottom: rgba(20, 20, 20, 0.12) 1px solid;
	margin-top: 152px;
	z-index: 1;
}

.textWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 1;
	max-width: 776px;
	width: 100%;
}

.headingAndDescription {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

.description {
	width: fit-content;
}

.infoHeroHeading {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 100%;
}

.infoHeroHeadingText {
	display: block;
}

.infoHeroParagraph {
	max-width: 410px;
	width: 100%;
	margin-top: 360px;
}

.infoHeroImage {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.infoHeroImageImg {
	max-width: 380px;
	max-height: 450px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.career {
	width: 100%;
	padding: 0 16px;
	display: grid;
	grid-template-columns: 528px 1fr;
	grid-template-rows: auto auto;
	margin-top: 200px;
	margin-bottom: 200px;
}

.careerDescription {
	grid-column: 1;
	grid-row: 1;
	width: fit-content;
}

.careerHeading {
	grid-column: 2;
	grid-row: 1;
	max-width: 380px;
	width: 100%;
	margin-bottom: 32px;
}

.careerTable {
	grid-column: 2;
	grid-row: 2;
	width: 100%;
}

