.container {
	width: 100%;
}

.list {
	display: grid;
	grid-template-columns: repeat(3, minmax(20px, 1fr));
	gap: 16px 8px;
	grid-auto-rows: min-content;
	justify-content: center;
	width: 100%;
}

.item {
	display: flex;
	flex-direction: column;
	height: fit-content;
	background: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

.item .image {
	width: 100%;
	overflow: hidden;
}

.item .imageElement,
.item .video {
	width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}


@media (max-width: 1601px) {
	.list {
		grid-template-columns: repeat(2, minmax(20px, 1fr));
	}
}

@media (max-width: 1301px) {
	.list {
		grid-template-columns: repeat(3, minmax(20px, 1fr));
	}
}

@media (max-width: 1024px) {
	.list {
		grid-template-columns: repeat(2, minmax(20px, 1fr));
	}
}

@media (max-width: 501px) {
	.list {
		grid-template-columns: repeat(1, minmax(16px, 1fr));
	}
}
