.masonry {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    width: 100%;
    padding: 0 16px;
}

.card {
    width: 100%;
    overflow: hidden;
    background: var(--color-bg-white-default);
    display: flex;
    align-items: flex-start;
}

.imageContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    height: var(--image-height, 640px);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 640px) {
    .masonry {
        grid-template-columns: 1fr 1fr;
    }

    .imageContainer.tall {
        height: 370px;
    }

    .imageContainer.short {
        height: 222px;
    }
}

@media (max-width: 375px) {
    .masonry {
        grid-template-columns: 1fr;
    }

    .imageContainer.tall {
        height: 429px;
    }

    .imageContainer.short {
        height: 257px;
    }
}
