.playground {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 200px;
    padding: 0 16px;
    gap: 32px;
    overflow: visible;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 540px;
    gap: 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 180px;
    align-self: flex-start;
    height: fit-content;
    padding-right: 32px;
    z-index: 10;
}

.masonryContainer {
    width: 66%;
    flex-shrink: 0;
    min-width: 0;
}

@media (max-width: 1301px) {
    .masonryContainer {
        width: 100%;
    }
    .playground {
		margin-top: 160px;
		flex-direction: column;
		gap: 48px;
	}

    .textWrapper {
        position: static;
        margin-bottom: 0;
        padding-right: 0;
    }
}

@media (max-width: 701px) {
    .playground {
		margin-top: 120px;
	}
}

@media (max-width: 401px) {
    .playground {
		margin-top: 120px;
	}
}