.playground {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 152px;
    margin-bottom: 200px;
}

.textWrapper {
    max-width: 776px;
    margin-bottom: 96px;
    width: 100%;
    padding: 0 16px;
}

@media (max-width: 640px) {
    .title {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
    }

    .description {
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
    }
}

