.footer {
	position: relative;
	width: 100%;
	min-height: 348px;
	margin-top: 200px;
}

.footer::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml,%3Csvg width='1600' height='348' viewBox='0 0 1600 348' preserveAspectRatio='none' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1600' height='348' fill='url(%23paint0_linear_2239_294)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2239_294' x1='800' y1='0' x2='800' y2='348' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23D8D2FF' stop-opacity='0'/%3E%3Cstop offset='0.798077' stop-color='%232501FF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 0;
}

.container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0 16px 16px;
	height: 100%;
	z-index: 1;
}

.content {
	display: flex;
	align-items: flex-end;
	min-height: 348px;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.geo {
	display: flex;
	flex-direction: column;
	width: auto;
}

.wrapper{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	width: 66%;
}

.quote {
	max-width: 460px;
}

.links {
	display: flex;
	align-items: center;
	gap: 12px;
	flex-shrink: 0;
}

.link {
	text-decoration: none;
}

@media (max-width: 1101px) {
	.quote{
		display: none;
	}
	.geo {
		width: unset;
	}
	.wrapper{
		width: unset;
	}
	.content {
		justify-content: space-between;
	}
}

@media (max-width: 520px) {
	.content{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		gap: 32px;
	}
}
